body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}
body.light-mode {
  background-color: #ffffff;
  color: #121212;
}

#game-container {
  text-align: center;
  padding: 20px;
}

h2, h4, h3 {
  margin: 10px 0;
}

#grid-container {
  display: grid;
  gap: 5px;
  margin: 20px auto;
}

.start-btn {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #e64a19;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#toggle-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

#score {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}
